<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VortexOK.net, LLC</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ request.static_url('vtxok:static/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ request.static_url('vtxok:static/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ request.static_url('vtxok:static/css/grayscale.min.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{{ request.static_url('vtxok:static/img/vortexok-logo-small.png') }}" alt="VortexOK.net" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#coverage">Coverage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#connect">Connect</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://crm.int.vortexok.net/">
                  <i class="fa fa-sign-in"></i> My Account
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Wireless Internet Access</h1>
              <p class="intro-text">built by hams and network professionals</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About VortexOK.net</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <p>The network is built using gear from Ubiquiti Networks, making for a super reliable system.</p>
            </div>
            <div class="col-lg-4 mx-auto">
                <p>Our clients range from normal households to hams running their own servers.  We also provide
                connectivity for internet connected amateur radio repeaters, free of charge!</p>
            </div>
            <div class="col-lg-4 mx-auto">
                <p>We connect to the internet via 100Mbps ethernet from Hilliary Communications, LLC</p>
            </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="coverage" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Coverage</h2>
          <p>Coverage is a tricky nail down.  if you can see the Chapel on Bigrock near Medicine Park, OK
          you can probably get service from us.  Also, we have a tower in south east Lawton with great coverage.
          We can determine whether or not we can get you connected and exactly what gear you'll need to buy.</p>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="connect" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Get Connected</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <p>We only accept new clients by word of mouth. If you know someone on the network, ask them
                    how to get in contact with us.</p>
            </div>
            <div class="col-lg-4 mx-auto">
                <p>We'll perform a link budget analysis to determine if we can deliver service at your location
                    and exactly what equipment you need to buy and how high up it needs to be mounted.  We do not
                    sell the equipment or install it, but we'll suggest vendors we know and trust.</p>
            </div>
            <div class="col-lg-4 mx-auto">
                <p>Once you're connected, we'll take over the management of your outdoor equipment and will work
                with you do deliver the service exactly how you want it.</p>
            </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; VortexOK.net, LLC 2018</p>
        <p>Site built using <a href="https://trypyramid.com" target="_blank">Pyramid</a> and the
            <a href="https://startbootstrap.com/template-overviews/grayscale/" target="_blank">Greyscale Boostrap Tempalte</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ request.static_url('vtxok:static/js/jquery.min.js') }}"></script>
    <script src="{{ request.static_url('vtxok:static/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ request.static_url('vtxok:static/js/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ request.static_url('vtxok:static/js/grayscale.min.js') }}"></script>

  </body>

</html>
